@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 3rem 2rem 3rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #e2d1d1;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #eedada;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    min-height: 100vh;
    min-width:100vw;
    display: flex;
    flex-direction: column;
/*     grid-template-columns: 1fr 1fr; */
    
  }
}
